/* HeroesComponent's private CSS styles */
:host {
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    margin: 2rem;
}

.heroes {
    margin: 0 0 0 -0.5em;
    list-style-type: none;
    padding: 0;
    width: 15em;
}

.heroes li {
    display: flex;
    justify-content: stretch;
    position: relative;
    cursor: pointer;
    margin: 0.5rem;
}

.heroes a {
    display: flex;
    align-items: stretch;
    width: 100%;
    color: #333;
    text-decoration: none;
}

.heroes a:hover {
    color: #6d9ed6;
}

.heroes a:active {
    background-color: #525252;
    color: #fafafa;
}

.heroes .badge {
    display: flex;
    font-size: small;
    color: white;
    background-color: #405061;
    line-height: 1em;
    position: relative;
    height: 2rem;
    min-width: 2rem;
    border-radius: 4px 0 0 4px;
    justify-content: center;
    align-items: center;
}

.heroes .name {
    flex: 1;
    display: flex;
    align-items: center;
    background-color: #eee;
    padding-inline: 0.5rem;
    border-radius: 0 4px 4px 0;
}

.add-button {
    padding: 0.5rem 1rem;
    margin-inline: 1rem;
}
