/* MessagesComponent's private CSS styles */
:host {
    display: block;
    margin: 2rem;
}

.header {
    display: flex;
    align-items: baseline;
    gap: 2rem;
}

h2 {
    color: #6d9ed6;
}

.clear {
    color: #333;
    background-color: #eee;
    margin-bottom: 12px;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    font-size: 1rem;
}
.clear:hover {
    color: white;
    background-color: #42545c;
}
